.btn {
	@extend %text-30;
	font-weight: 600;
	background-color: #FFD400;
	border-radius: 5rem;
	text-align: center;
	text-transform: uppercase;
	transition: 0.3s all;

	@media (any-hover: hover) {
		&:hover {
			background-color: #FDBF00;
		}
	}
}
