.swiper-button-prev,
.swiper-button-next {
	position: static;
	width: vh(88);
	height: vh(88);
	border-radius: 50%;
	background-color: #393939;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s all;

	svg {
		width: vh(32);
		height: vh(24);

		path {
			transition: .3s fill;
		}
	}

	&:after {
		content: '';
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: #FFD400;

			svg path {
				fill: #000;
			}
		}
	}
}
