.swiper-button-prev,
.swiper-button-next {
	position: static;
	width: 8.8rem;
	height: 8.8rem;
	border-radius: 50%;
	background-color: #393939;
	margin: 0;
	@extend %flex-center;
	transition: .3s all;

	svg {
		width: 3.2rem;
		height: 2.4rem;

		path {
			transition: .3s fill;
		}
	}

	&:after {
		content: '';
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: #FFD400;

			svg path {
				fill: #000;
			}
		}
	}
}
