html {
	box-sizing: border-box;
	/* font-size: calc(100vw / 1920 * 10);

	@media (max-width: 1024px) {
		font-size: calc(100vw / 768 * 10);
	} */

	/* @media(max-width: 992px) {
        font-size: calc(100vw / 768 * 10);
    } */

	/* @media (max-width: 767px) {
		font-size: calc(100vw / 375 * 10);
	} */

	/* @media (max-width: 500px) {
        font-size: calc(100vw / 375 * 10);
    } */
}

body {
	min-width: 320px;
	font-style: normal;
	font-weight: 400;
	background-color: #000;
	color: #fff;
	overflow-y: hidden;
	font-family: 'Montserrat',
		sans-serif;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 0;
	}
}

.page {
	position: relative;
	height: 100vh;
	@extend %bg-cover;
}

.marquee {
	position: absolute;
	left: vh(16);
	z-index: 101;
	display: flex;
	flex-wrap: nowrap;
	column-gap: vh(15);


	&--top {
		top: vh(14);

		img {
			animation: marqueeTop 15s linear infinite;
		}
	}

	&--bottom {
		bottom: vh(22);
		flex-direction: row-reverse;

		img {
			animation: marqueeBottom 15s linear infinite;
		}
	}
}

@keyframes marqueeTop {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes marqueeBottom {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(100%, 0);
	}
}

.label {
	width: vh(145);
	height: vh(145);
	position: absolute;
	top: vh(116);
	right: vh(162);
	padding: vh(20);
	background-color: #fff;
	border-radius: 50%;
	display: grid;
	place-items: center;
	@extend %ubuntu;
	@extend %text-18;
	font-weight: 700;
	color: #000;
	transition: .3s all;

	@media (any-hover: hover) {
		&:hover {
			background-color: $blue;
			color: #fff;
		}
	}
}

._container {
	max-width: 100%;
	padding: 0 $gap;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	border: none;

	table & {
		max-width: none;
	}
}

h1 {
	@extend %text-72;
}

.home {
	padding-top: vh(390);

	&__container {
		width: vh(974 + 15 * 2);
	}
}

.text-page {
	&__container {
		width: 100vw;
		height: 100%;
		display: grid;
		grid-template-rows: vh(130) max-content vh(7) max-content vh(68) 1fr;
		grid-template-columns: vh(245) vh(1148) 1fr vh(26) vh(100);
		grid-template-areas:
			'. . . . .'
			'. title title . .'
			'. . . . .'
			'. . subtitle subtitle .'
			'. . . . .'
			'. sections . . .'
			'. . . . .'
		;
	}

	&__label {
		top: vh(297);
		right: vh(100);
		padding-left: vh(36);
	}

	&__title {
		grid-area: title;
		text-align: right;
	}

	&__subtitle {
		grid-area: subtitle;
		text-align: right;
		@extend %text-18;
		font-weight: 900;
		color: #FFD400;
		text-transform: uppercase;
	}

	&__sections {
		width: 100%;
		display: grid;
		grid-gap: vh(41);
		align-content: start;
		grid-area: sections;
	}

	&__section {
		display: grid;
		grid-gap: vh(17);
		align-content: start;

		p {
			@extend %text-18;
		}
	}

	&__section-title {
		@extend %text-30;
		font-weight: 900;
		text-transform: uppercase;
	}
}

.popup {

	position: fixed;
	top: -100vh;
	right: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 101;
	@extend %bg-cover;
	padding-top: vh(200);
	text-align: center;
	overflow-y: auto;
	transition: .5s top;

	&.active {
		top: 0;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__top {
		&:not(:last-child) {
			margin-bottom: vh(50);
		}
	}

	// .popup__title

	&__title {
		@extend %text-72;
		text-transform: uppercase;

		&:not(:last-child) {
			margin-bottom: vh(27);
		}
	}

	&__subtitle {
		font-family: Montserrat, sans-serif;
		@extend %text-18;
		color: #fff;
		transition: .3s color;

		@media (any-hover: hover) {
			&:hover {
				color: #FFD400;
			}
		}
	}

	&__form {
		width: vh(575);
	}
}

.popup-form {

	&__fields {
		display: grid;
		grid-gap: vh(22);

		&:not(:last-child) {
			&:not(:last-child) {
				margin-bottom: vh(57);
			}
		}
	}

	// .popup-form__input

	&__input {
		@extend %text-24;
		border-radius: vh(50);
		background-color: rgba(0, 0, 0, 0.2);
		border: 1px solid #00A2FD;
		padding: vh(32);
		text-align: center;
		color: #fff;

		&::placeholder {
			color: rgba(#fff, .7);
		}
	}

	// .popup-form__btn

	&__btn {
		padding: vh(19) vh(58);

		&:not(:last-child) {
			margin-bottom: vh(37);
		}
	}
}

.error {
	@extend %text-18;
	font-weight: 900;
	color: $error;
}

.success {
	background-color: #000;
	padding-top: vh(344);

	&__container {
		width: vh(1336 + 30);
	}

	p {
		@extend %text-72;
		text-align: left;
	}
}

.back-btn,
.burger-btn {
	position: absolute;
	left: vh(476);
	@extend %pos-center-y;
	z-index: 102;
	width: vh(59);
	height: vh(59);
	background-image: url(../images/back.svg);
	@extend %bg-contain;
}

.burger-btn {
	left: vh(71);
	z-index: 99;
	transform: rotate(180deg) translate(0, -50%);
}

#forgot-password {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: vh(50);
}
