// Стили для странмицы показа
._progress {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

._progress__inner {
	columns: 2;

	@media(max-width: 1024px) {
		columns: 1;
	}
}

._progress__link {
	display: block;
	@extend %text-24;
	margin-bottom: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	opacity: .5;
	transition: opacity 0.3s;

	&.done {
		color: greenyellow;
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 1;
		}
	}
}
