.burger-menu {
	position: absolute;
	top: -100vh;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	width: 100%;
	height: 100vh;
	transition: 0.5s top;
	overflow: auto;
	background-color: #000;
	padding-top: vh(147);
	padding-bottom: vh(128);

	&.active {
		top: 0;
	}

	// .burger-menu__label

	&__label {
		transform: translateX(vh(145)) rotate(360deg);
		transition: 1s transform;

		&.active {
			transform: translateX(0) rotate(0);
		}
	}

	// .burger-menu__body

	&__body {
		position: relative;
		height: 100%;
		display: grid;
		grid-template-rows: 1fr vh(30) max-content;
		justify-items: center;
		grid-template-areas:
			"nav"
			"."
			"soc"
		;
	}

	// .burger-menu__nav

	&__nav {
		grid-area: nav;
	}

	// .burger-menu__list

	&__list {
		display: grid;
		grid-gap: vh(75);
		justify-items: center;
	}

	// .burger-menu__list-link

	&__list-link {
		@extend %text-72;
		font-family: Montserrat, sans-serif;
		color: #fff;
		transition: .3s all;

		@media (any-hover: hover) {
			&:hover {
				font-weight: 900;
			}
		}
	}

	// .burger-menu__social

	&__social {
		grid-area: soc;
	}

	@media (max-width: 575px) {
		width: 100%;
	}

	&--active {
		@media (max-width: 1024px) {
			left: 0;
		}
	}
}

.social {

	display: grid;
	grid-auto-flow: column;
	grid-gap: vh(24);

	// .social__link

	&__link {
		@extend %ubuntu;
		@extend %text-24;
		font-weight: 300;
		color: #FDBF00;
		transition: .3s color;

		@media (any-hover: hover) {
			&:hover {
				color: $blue;
			}
		}
	}
}
