.lk {

	padding-top: vh(112);
	padding-bottom: vh(87);

	&__container {
		width: vh(1920 - 215 * 2);

		>* {
			&:not(:last-child) {
				margin-bottom: vh(63);
			}
		}
	}

	// .lk__user

	&__user {
		&:not(:last-child) {
			margin-bottom: vh(88);
		}
	}

	// .lk__menu

	&__menu {
		display: grid;
		justify-items: start;
		grid-gap: vh(75);

		[data-target="teleport"] {
			position: relative;

			@media (any-hover: hover) {
				&:hover {
					.teleport-form {
						opacity: 1;
					}
				}
			}
		}
	}

	// .lk__menu-link

	&__menu-link {
		@extend %text-48;
		font-weight: 900;
		color: #fff;
		transition: .3s color;

		@media (any-hover: hover) {
			&:hover {
				color: #FFD400;
			}
		}
	}

	// .lk__exit

	&__exit {
		@extend %text-24;
		font-weight: 400;
	}
}

.exit-btn {
	font-family: Montserrat, sans-serif;
	color: #F40000;
	text-transform: uppercase;
}

.user {

	display: grid;
	grid-template-columns: vh(160) max-content;
	grid-gap: vh(20) vh(15);

	>*:not(.user__img) {
		grid-column: 2 / 3;
	}

	// .user__img

	&__img {
		grid-row: span 3;
		height: vh(160);

		img {
			@extend %cover;
		}
	}

	// .user__name

	&__name {
		@extend %text-36;
		font-weight: 900;
	}

	// .user__balance

	&__balance {
		@extend %text-24;
		font-weight: 900;

		span {
			color: #FFD400;
		}
	}

	&__balance,
	&__status {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: max-content;
		grid-gap: vh(15);
	}

	// .user__status

	&__status {
		@extend %text-24;
		font-weight: 500;

		time {
			color: #FFD400;
			font-weight: 900;
		}
	}
}

.teleport-form {
	width: vh(270);
	position: absolute;
	top: 0;
	left: calc(100% + vh(58));
	z-index: 25;
	display: grid;
	grid-gap: vh(30);
	justify-items: center;
	align-content: center;
	background-color: #F2F2F2;
	border-radius: vh(30);
	padding: vh(11) vh(15) vh(17);
	opacity: 0;
	transition: .3s opacity;

	// .teleport-form__items

	&__items {
		display: grid;
		grid-gap: vh(17);
		justify-self: stretch;
		justify-items: center;
		max-height: vh(110);
		padding-bottom: vh(30);
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: vh(5);
			background-color: #fff;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #000
		}

	}

	// .teleport-form__item

	&__item {

		input[type="radio"] {
			width: 1px;
			height: 1px;
			overflow: hidden;
			position: absolute;
			clip: rect(0 0 0 0);

			&:checked+span {
				color: #FFD400;
			}
		}

		span {
			@extend %text-18;
			color: #000;
			transition: .3s color;
			cursor: pointer;
		}

		@media (any-hover: hover) {
			&:hover {
				span {
					color: #FFD400;
				}
			}
		}
	}

	// .teleport-form__btn

	&__btn {
		padding: vh(6.5) vh(34);
		font-size: vh(14);
		line-height: 17 / 14 * 100%;
		background-color: #0047FF;
		border-radius: vh(30);

		@media (any-hover: hover) {
			&:hover {
				background-color: $blue;
			}
		}
	}
}
