.news-card {

	display: grid;
	min-height: mh(470);

	// .news-card__img

	&__img,
	&__content {
		grid-area: 1 / 2;
	}

	&__img {
		width: 100%;

		img {
			@extend %cover;
		}
	}

	// .news-card__content

	&__content {
		width: 100%;
		display: grid;
		grid-template-columns: vh(20) 1fr vh(20);
		grid-template-rows: vh(20) max-content 1fr max-content vh(30) max-content 1fr vh(20);

		>* {
			grid-column: 2 / 3;
		}
	}

	// .news-card__date

	&__date {
		@extend %text-48;
		font-weight: 900;
		grid-row: 2 / 3;
	}

	// .news-card__title

	&__title {
		grid-row: 4 / 5;
		@extend %text-36;
		font-weight: 500;
	}

	// .news-card__text

	&__text {
		grid-row: 6 / 7;
		font-weight: 300;
		@extend %text-18;
	}
}

.news {

	padding-top: vh(96);
	// .news__container

	&__container {
		width: vh(1510 + 15 * 2);
	}

	// .news__top

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&:not(:last-child) {
			margin-bottom: vh(100);
		}
	}

	// .news__title

	&__title {
		max-width: vh(917);
	}

	// .news__forum

	&__forum {
		@extend %text-36;
		font-weight: 900;
		text-transform: uppercase;
		position: relative;
		display: grid;
		justify-items: end;
		grid-gap: vh(35);
	}

	&__forum-link {
		position: relative;
		@extend %text-24;
		font-weight: 900;
		color: #FFD400;
		padding-left: vh(65);
		padding-right: vh(33);
		transition: .3s color;

		@media (any-hover: hover) {
			&:hover {
				color: $blue;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: vh(-20);
			left: 0rem;
			width: vh(55);
			height: vh(41);
			background-image: url(../images/forum-arrow.svg);
			@extend %bg-contain;
		}
	}

	// .news__slider

	&__slider {
		>* {
			&:not(:last-child) {
				margin-bottom: vh(23);
			}
		}
	}

	// .news__slider-arrows

	&__slider-arrows {
		display: grid;
		grid-template-columns: repeat(2, max-content);
		grid-gap: vh(30);
	}
}
